<footer id="footer" class="clearfix" style="background: url(<%= config.root + theme.footer_bg %>) no-repeat;background-position-x: center;background-position-y: bottom;
background-size: 180%;" >
  <br><br><br><br>
	<div class="social-wrapper">
  	<% if (theme.social) { %>
      <% theme.social.forEach(function(value, key) {
           if (value.url && value.slug) { %>
        <a href="<%= value.url %>" class="social <%= value.slug %>"
          target="_blank" rel="external">
          <span class="icon icon-<%= value.slug %>"></span>
        </a>
      <% } }); %>
    <% } %>
  </div>
  <br>
  <div>
    <section class="friends-links">
      <div class="content-links">
      <% theme.links.forEach(function(value, key) {
        if (value.url && value.name) { %>
        <span class="link">
          <a href="<%= value.url %>" target="_blank" rel="external">
            <%= value.name %>
          </a>
        </span>
      <% } }); %>
      </div>
    </section>
    <br>
    <section class="flutter-intro">
      <span>Made with&nbsp;&nbsp;</span>
      <a title="China Flutter User Group" href="https://github.com/cfug" target="_blank">CFUG</a>
      <span>&nbsp;&nbsp;team</span><br>
      <span>感谢郑州玩码科技帮助维护基础设施资源</span>
    </section>
  </div>
  <div class="beian-wrapper">
  <% theme.beian.forEach(function(value, key) {
    if (value.url && value.type && value.value) { %>
      <a href="<%= value.url %> target="_blank" rel="external">
        <%= value.value %>
      </a>
      &nbsp;&nbsp;
  <% } }); %>
  </div>
</footer>